$Heigther: 50px;
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    position: relative;
    height: $Heigther;
    background-color: violet;
    img{
        position: absolute;
        height: 100%;
    }
    ul{
        line-height: $Heigther;
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
        li{
            background-color: snow;
            text-align: center;
            width: 200px;
            line-height: $Heigther;

            &:hover ul {
                height: 165px;
            }
            ul{
                position: absolute;
                display: block;
                height: 0;
                overflow: hidden;
                transition: 600ms ease-in-out;
                a{ 
                    li{
                        margin-bottom: 1px;
                        line-height: 40px;
                        background-color: steelblue;
                    }
                }
            }
        }
    }
}


// _______ __________________                   ______     _______  _______  _______         _______  _______           _______           ______  
// (  ____ \\__   __/\__   __/|\     /||\     /|(  ___ \   (  ____ \(  ___  )(       )     /\(  ____ )(  ___  )|\     /|(  ____ \|\     /|(  __  \ 
// | (    \/   ) (      ) (   | )   ( || )   ( || (   ) )  | (    \/| (   ) || () () |    / /| (    )|| (   ) |( \   / )| (    \/| )   ( || (  \  )
// | |         | |      | |   | (___) || |   | || (__/ /   | |      | |   | || || || |   / / | (____)|| (___) | \ (_) / | |      | |   | || |   ) |
// | | ____    | |      | |   |  ___  || |   | ||  __ (    | |      | |   | || |(_)| |  / /  |     __)|  ___  |  \   /  | | ____ | |   | || |   | |
// | | \_  )   | |      | |   | (   ) || |   | || (  \ \   | |      | |   | || |   | | / /   | (\ (   | (   ) |   ) (   | | \_  )| |   | || |   ) |
// | (___) |___) (___   | |   | )   ( || (___) || )___) )_ | (____/\| (___) || )   ( |/ /    | ) \ \__| )   ( |   | |   | (___) || (___) || (__/  )
// (_______)\_______/   )_(   |/     \|(_______)|/ \___/(_)(_______/(_______)|/     \|\/     |/   \__/|/     \|   \_/   (_______)(_______)(______/                                                                       

//                                             _______________________________
//                                             ,;:::::::|:::::|::::::|::::::::::|:;
//                                             ,' ###l;;;;;;|;;;;;|;;;;;;;|;####l;;;;
//                                             ;  ###l;   ;;;;   ;;;  ;;;;; ####l;;|;;;
//                                             `. ###l     ;;;    ;;   ;;;  ####l;|;:|;;
//                                             :           ; +   ;  +  ;;    ;;  ;|::|;
//                                             |  +           ++++++            ;::|::;
//                                             :   +                           ;;|;;|;
//                                             |    +                   _       ;::|:;
//                                             :     +        ~~~~~~~~~' `.     ;||;;;
//                                             ;     +                    `    ;::::|;
//                                             ,'                               ;|;||;;
//                                             ,'  ____          ____      ;;~~ ;`;;;;|;
//                                             `,-'  __`-,;;;;;,:____`-. ~~~ ;;  ____ ;
//                                             `.--'(o)~`;  ::`.  (o)~; `` ~~ ,',--,)
//                                              `---~  ,'  ```:`--~-;;~~`` ,','  ;,'
//                                             / `~~~ ,'     :`~~~~~    ,' :,' ;;``.
//                                             `.__ .'     __` \______,/   :(  ;)  ))
//                                              ;~~ ;     '~~`  ~~~~~~     \_}    ;,'
//                                             ,'  .'    _____)        ,'  \_  ;'~,'
//                                             :   `.__ ' . .  \       :  ///\__,'
//                                             `. /  .. :. . . .\      :  //
//                                              : ` \___`_____\ .;     :  //  :
//                                              `.  ,---`'----,\ ;    ,'  /   ;
//                                               \  (~~`~~'~~~) `    ,'     ,-'
//                                                :  `---------'    ,'   _,-'
//                                                `.            " _,'_,-'   \______
//                                                 :   ~~      _,'--'   ;  (______()
//                                                 `._________;       ; ' : ~~~~~~
//                                                ;     |`.           '/  `  ;| \ _
//                                             _,-'     |:::`-.             ,;:|  \ `-._
//                                             ,-'         |::::::`-----------':::/   :    `--.
//                                             , -'           |::::::::::::::::::::::/    :        `
//                                                    :::::::::::::::::::::::/    :

// _______ __________________                   ______     _______  _______  _______         _______  _______           _______           ______  
// (  ____ \\__   __/\__   __/|\     /||\     /|(  ___ \   (  ____ \(  ___  )(       )     /\(  ____ )(  ___  )|\     /|(  ____ \|\     /|(  __  \ 
// | (    \/   ) (      ) (   | )   ( || )   ( || (   ) )  | (    \/| (   ) || () () |    / /| (    )|| (   ) |( \   / )| (    \/| )   ( || (  \  )
// | |         | |      | |   | (___) || |   | || (__/ /   | |      | |   | || || || |   / / | (____)|| (___) | \ (_) / | |      | |   | || |   ) |
// | | ____    | |      | |   |  ___  || |   | ||  __ (    | |      | |   | || |(_)| |  / /  |     __)|  ___  |  \   /  | | ____ | |   | || |   | |
// | | \_  )   | |      | |   | (   ) || |   | || (  \ \   | |      | |   | || |   | | / /   | (\ (   | (   ) |   ) (   | | \_  )| |   | || |   ) |
// | (___) |___) (___   | |   | )   ( || (___) || )___) )_ | (____/\| (___) || )   ( |/ /    | ) \ \__| )   ( |   | |   | (___) || (___) || (__/  )
// (_______)\_______/   )_(   |/     \|(_______)|/ \___/(_)(_______/(_______)|/     \|\/     |/   \__/|/     \|   \_/   (_______)(_______)(______/ 
                                                                                                                                                